
nav#navbar { 
    background: transparent;
    backdrop-filter: blur(15px);
    width: 100%;
    
    
}
body { background: #fff url(images/linkin-park-live.jpg) fixed no-repeat center top;

      background-size: 100%;
      font-family: "Open Sans";
      display: flex;
      min-height: 100vh;

      flex-direction: column;
  
      padding-top: 5rem;}
body > main {flex: 1;}
      


@media screen and (max-width: 375px){

    #navbar > #logo > a#logotxt {

        font-size: 0.9rem;
    }

    nav#navbar > div#logo > a > img {
        width: 60% !important;
      }

    nav#navbar > div#logo > a:first-child {
        padding: unset !important;
        justify-content: center;
    }


}


/* responsive hamburger menu */
@media screen and (max-width: 1637px) {
    .fa {
      margin: 0 auto !important; 
      color: rgb(255, 255, 255);
      
    }
  }

  @media screen and (max-width: 1621px) {

    div.headercont{
        
        justify-content: center;
    }
    
    
video {width: 100% !important;}

  

  div.headercont {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}


section.top-sc > div.videos {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}


}










@media screen and (max-width: 1836px) {
    #navbar {
        display: flex;
        justify-content: column;

    }
    nav#navbar > div#navbar-right {

        text-align: center;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        justify-content: row;
        flex-direction: column;
        align-items: flex-end;
    }


    nav#navbar > div#navbar-right > a:not(:first-child) {
        font-size: 0.9rem;
        margin-top: 3px;
        width: 120px;
        justify-content: center;
        
    }


    div#logo{
        margin:unset;
    }


    div#navbar-right {
        margin-right: unset;
      }
    nav#navbar > div#logo > a > img {
        width:90%;
    }













    #navbar-right a {
        display: none;
      }
      #navbar-right a.icon {
        display: block;
        align-items: center;
        height: 90px;
        display: flex;
      }














      .rightnav.responsive {
        position: relative;
        
        
      
      
      
      }


     


      div#logo {
        margin-left: unset;
      }


      














      .fa {
        margin: 0 auto !important; 
        
      }

      /* .rightnav.responsive .icon {
        position: absolute;
        right: 30px;
        top: 0;
        
      } */
      .rightnav.responsive a {
        display: flex !important;
        background: transparent;
        text-align: right;
        justify-content: right;
        margin: 0px 2px;
        z-index: 9999;
        
      }

      .rightnav {

        position: relative;
      
      }
      
      .rightnav.responsive a:not(:first-child) {
        background: transparent black;
      }
      .rightnav.responsive a {
        
        position: relative;
    
    font-size: 0.9rem;
        /* position: fixed;
        top: 105px;
        display: block;
        right: 70px;
        margin: 10px;
        z-index: 99999;
        right: 30px;
        justify-content: center;
        flex-direction: row;
        margin: 30px;
        padding: 30px; */
      }
    
    }
    

    .rightnav > .icon {
      display: none;
    }
  